*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #003459;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
img{
    padding: 14px 0 0 30px;
}


h2{
    color: #3A546B;
    margin-bottom: 10px;
}

label{
    color:#4a4b4d;    
}

a{
    text-decoration: none;
    color:#1079bf;
}
svg{
    position: absolute;
}

.login{
    text-align: left;
    padding: 15px;
    padding-left: 35px;
    padding-right: 35px;
}

.form{
    background-color: #fff;
    text-align: center;
    margin: 100px 30% 30%;
    border-radius: 7px;
}

.form-footer{
    display: flex;
    justify-content: space-between;
}
