<<<<<<< HEAD
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #040D12;
    color: #93B1A6;
}

form{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

input[type="number"]{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #5C8374;
    outline: none;
    border: none;
    border-radius: 20px;
    font-size: 1.3rem;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #183D3D;
    border-radius: 7px;
    margin-top: 20%;
    margin-left: 30%;
    margin-right: 30%;
    padding-top: 25px;
    padding-bottom: 25px;
}
.submit{
    position: relative;
}

button[type="submit"]{
    padding-left: 10px;
    padding-right: 40px;
    background-color: #5C8374;
    border-radius: 25px;
    margin-left: 6px;
    border: none;
    color: #040D12;
    font-size: 1.1rem;
    transition: hover 0.2s ease-in-out;
}
span{
    right: 18px;
    top: 16px;
    position: absolute;
    color: #040D12;
    transition: hover 0.2s ease-in-out;
}
button:hover span{
    right: 15px;
}

button:hover{
    background-color: #698f80;

}



.error{
    color: #BE3144;
}

=======
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #040D12;
    color: #93B1A6;
}

form{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

input[type="number"]{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #5C8374;
    outline: none;
    border: none;
    border-radius: 20px;
    font-size: 1.3rem;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #183D3D;
    border-radius: 7px;
    margin-top: 20%;
    margin-left: 30%;
    margin-right: 30%;
    padding-top: 25px;
    padding-bottom: 25px;
}
.submit{
    position: relative;
}

button[type="submit"]{
    padding-left: 10px;
    padding-right: 40px;
    background-color: #5C8374;
    border-radius: 25px;
    margin-left: 6px;
    border: none;
    color: #040D12;
    font-size: 1.1rem;
    transition: hover 0.2s ease-in-out;
}
span{
    right: 18px;
    top: 16px;
    position: absolute;
    color: #040D12;
    transition: hover 0.2s ease-in-out;
}
button:hover span{
    right: 15px;
}

button:hover{
    background-color: #698f80;

}



.error{
    color: #BE3144;
}

>>>>>>> 0a68b4395ecf987d30580b9422791729db679340
