<<<<<<< HEAD
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}



.navbar{
    font-family: 'Roboto Mono', monospace;    
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 15px;
    font-size: 1.3rem;
    margin-bottom: 200px;
}

.navbar .left{
    margin-top: 22px;
}
.navbar .left a{
    font-size: 1.9rem;
    text-decoration: none;
    color: #000;
}

.navbar .right ul{
    display: flex;
    gap: 30px;
}

.navbar .right ul li{
    
    margin-top: 7px;
    list-style: none;
}
.navbar .right ul li a{
    text-decoration: none;
    color: #000;
}


.navbar .right ul li:nth-child(3){
    margin-right: 30px;
}

.navbar .right ul li .checked{
    padding-bottom: 5px;
    border-bottom: 2px black solid;
}

button {
  font-size: 1.2rem;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  font-weight: 600;
  margin: 0 10px;
  width: 150px;
  padding: 10px 0;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
  transition: 0.4s;
}

.reg {
  color: white;
  background-color: rgba(104, 85, 224, 1);
}

.log {
  color: rgb(104, 85, 224);
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(104, 85, 224, 1);
}

button:hover {
  color: white;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
  background-color: rgba(104, 85, 224, 1);
}

.container{
    display: flex;
    justify-content: center;
    background-color: #eeeeee;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 15px;
    font-family: 'Open Sans', sans-serif;
}

.container form div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
}

.container form input[type='submit']{
  display: flex;
  justify-content: center;
  width: 125px;
  height: 45px;
  border: 0;
  outline: none;
  background: #2b2d42;
  color: #fff;
  font-size: 1rem;
  border-radius: 40px;
  text-align: center;
  box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  cursor: pointer;
}
=======
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}



.navbar{
    font-family: 'Roboto Mono', monospace;    
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 15px;
    font-size: 1.3rem;
    margin-bottom: 200px;
}

.navbar .left{
    margin-top: 22px;
}
.navbar .left a{
    font-size: 1.9rem;
    text-decoration: none;
    color: #000;
}

.navbar .right ul{
    display: flex;
    gap: 30px;
}

.navbar .right ul li{
    
    margin-top: 7px;
    list-style: none;
}
.navbar .right ul li a{
    text-decoration: none;
    color: #000;
}


.navbar .right ul li:nth-child(3){
    margin-right: 30px;
}

.navbar .right ul li .checked{
    padding-bottom: 5px;
    border-bottom: 2px black solid;
}

button {
  font-size: 1.2rem;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  font-weight: 600;
  margin: 0 10px;
  width: 150px;
  padding: 10px 0;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
  transition: 0.4s;
}

.reg {
  color: white;
  background-color: rgba(104, 85, 224, 1);
}

.log {
  color: rgb(104, 85, 224);
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(104, 85, 224, 1);
}

button:hover {
  color: white;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
  background-color: rgba(104, 85, 224, 1);
}

.container{
    display: flex;
    justify-content: center;
    background-color: #eeeeee;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 15px;
    font-family: 'Open Sans', sans-serif;
}

.container form div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
}

.container form input[type='submit']{
  display: flex;
  justify-content: center;
  width: 125px;
  height: 45px;
  border: 0;
  outline: none;
  background: #2b2d42;
  color: #fff;
  font-size: 1rem;
  border-radius: 40px;
  text-align: center;
  box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  cursor: pointer;
}
>>>>>>> 0a68b4395ecf987d30580b9422791729db679340
