:root{
    --ovale-bg-clr: #899CAB;
    --ovale-clr: whitesmoke;
    --title-clr: white;
    --title-bg-clr: #324D61;
    --page-bg-clr: rgb(211, 222, 218);
    --header-footer-bg-clr: rgb(24, 61, 61);
}